*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    width: 100%;
    height: 60px;
    background-color: #FF7F11;
    display: grid;
    place-items: center;
}

#todo-maker{
    width: 100%;
    height: 88px;
    background-color: #ACBFA4;
    display: flex;
    justify-content: center;
    align-items: center;
}

#todo-maker>input{
    width: 500px;
    height: 40px;
}
#todo-maker>button{
    border: none;
    font-size: xx-large;
    text-align: center;
    display: grid;
    place-items: center;
    margin-left: 10px;
    height: 40px;
    cursor: pointer;
    background-color: #FF7F11;
    color: #262626;
}

#todo-maker>button:hover{
    box-shadow: 0 0 4px 4px #FF9B51;
}

main{
    width: 100%;
    height: 100vh;
    min-height: calc(100vh-148px);
    background-color: #E2E8CE;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.card{
    width: 550px;
    height: 60px;
    margin-top: 40px;
    background-color: lightgoldenrodyellow;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


